{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"semi": true,
	"experimentalTernaries": false,
	"singleQuote": false,
	"quoteProps": "consistent",
	"trailingComma": "none",
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "always",
	"insertPragma": false,
	"printWidth": 80,
	"requirePragma": false,
	"tabWidth": 2,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto"
}
